<div class="nested-fields">
  
  <p>
    <%= f.label :car_id %><br>
    <%= f.text_field :car_id %>
  </p>
  <%= f.input :description %>
  <%= f.input :done, as: :boolean %>
  <%#= link_to_remove_association "remove parking", f %>
</div>